html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background-image: url(../images/neon.webp);
  background-size: cover;
  background-position: center;
}


.Terminal {
  position: fixed;
  left: 0;
  top: 0;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  white-space: pre;
}
