html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size:13px;
}

body {
  background-image: url(../images/neon.webp);
  background-size: cover;
  background-position: center;
}

.Terminal {
  position: fixed;
  left: 0;
  top: 0;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  white-space: pre;
}

.games {
  max-width: 100%;
  white-space: normal;
}

.games>div {
  display: inline-block;
}

.games>div>div {
  width: 148px;
  height: 148px;
  background-size: cover;
  background-position: center;
  margin: 4px;
  transition: all 0.3s;
}

.games>div>div:hover {
  transform: scale(1.2);
}

.games.show {
  display: flex;
}

.games.show .preview {
  height: 300px;
  margin: 4px;
}

a {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: blue;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

.quicklinks {
  position: fixed;
  top: 0;
  right: 24px;
  width: 140px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: Monaco, Courier;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.quicklinks>div {
  cursor: pointer;
}

.quicklinks>div:hover {
  color: black;
}
