html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background-image: url(../images/neon.webp);
  background-size: cover;
  background-position: center;
}

.Terminal {
  position: fixed;
  left: 0;
  top: 0;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  white-space: pre;
}

.games {
  max-width: 100%;
  white-space: normal;
}

.games>div {
  display: inline-block;
}

.games>div>div {
  width: 148px;
  height: 148px;
  background-size: cover;
  background-position: center;
  margin: 4px;
}

.games.show {
  display: flex;
}

.games.show .preview {
  height: 300px;
  margin: 4px;
}

.games.show a {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
}

.games.show a:hover {
  color: blue;
}
